* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

img {
  width: 100%;
}

$light-green: #65e197;
$mid-green: #0faea1;
$gray: #666;
$dark-gray: rgb(68, 66, 66);

body {
  header {
    background: linear-gradient(270deg, $light-green, $mid-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 15px 10px rgba($color: #000000, $alpha: 0.1);

    .pattern {
      padding: 0 1rem;

      img {
        width: 6rem;

        @media screen and (min-width: 1024px) {
          width: 12rem;
        }
      }
    }

    .interactions {
      padding: 1rem 1rem;

      p {
        color: white;

        @media screen and (min-width: 1024px) {
          font-size: 1.5rem;
        }
      }

      a {
        color: white;
        margin: 0 0.5rem;

        &:hover {
          text-decoration: underline;
        }

        &:nth-child(1) {
          font-size: 0.75rem;

          @media screen and (min-width: 1024px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
